<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Cards App</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive = "active" [routerLinkActiveOptions] = "{exact:true}"><a routerLink="card">Home</a></li>
      <li routerLinkActive = "active"><a routerLink="card/newcard">Add New Card</a></li>
      <li routerLinkActive = "active"><a routerLink="user/user">User List</a></li>
      <li routerLinkActive = "active"><a routerLink="user/newuser">Add New User</a></li>
    </ul>
  </div>
</nav>